<div id="registration">
    <header>
      <%= image_tag 'logo.png' %>
      <%= link_to 'Log In', new_user_session_path, class: 'pull-right font-weight-normal' %>
    </header>

    <h1 class="text-center">SIGN UP</h1>
    <h4 class="text-center font-weight-normal">Get started for free and create your first survey in 2 minutes</h4>
    <div class="container">
        <%= simple_form_for(resource, html: {id: 'signUpForm'}, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, placeholder: 'your full name', autofocus: true%>
          <%= f.input :email, placeholder: 'email@domain.com' %>
          <%= f.input :project_title, placeholder: 'What project are you using us for?' %>
          <%= f.input :password, placeholder: 'your password' %>
          <div class="form-actions">
            <%= f.button :submit, 'Create a free account' %>
          </div>
        <% end %>
    </div>
</div>