<div id="edit_password">
  <header>
    <%= image_tag 'logo.png', class: 'logo-image' %>
    <%= link_to 'Create an account', new_user_registration_path, class: 'pull-right font-weight-normal' %>
  </header>

  <h1 class="text-center">CHANGE YOUR PASSWORD</h1>
  <div class="container">
    <%= simple_form_for(resource, html: {id: 'editPasswordForm', method: :put}, as: resource_name, url: password_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        <div class="form-actions">
          <%= f.button :submit, 'Change Password' %>
        </div>
    <% end %>
  </div>
</div>